* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

header {
  background-color: #f60606;
  padding: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-title {
  margin-right: auto;
  color: #0e0e0e;
  font-weight: 700;
  font-size: 22px;
}

.nav-link {
  color: #000000;
  font-weight: 600;
  margin-left: 20px;
}

.redsox-image {
  height: 60px;
  margin-right: 20px;
}
